
html {
    background-color: #99bbff;
    overflow-x: hidden;
}

body {
    background-color: #99bbff;
}

#body {
    padding-top: 15px;
}

.nav-item{
    padding: 5px;
    height: 100%;
}

.nav-item:hover {
    background-color: #7D7D7D;
    margin: 20;
}

.container-fluid {
    margin: 10px;
}

.container-fluid .container {
    width: 90%;
    padding: 10px;
    border-radius: 3px;
}

.card {
    padding: 10px;
    margin: 10px;
}

.card-img-top {
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right:auto;
}
